.searchBar {
    display: flex;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.87);
    border: 1px solid rgb(0, 15, 0);
    font-size: 16px;
}

.input {
    width: 380px;
    font-size: 16px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.87);
    color: rgb(0, 15, 0);
}

.btn {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 8px 8px 8px 0;
}
.btnImg {
    color: rgb(0, 15, 0);
}